
{% block headerinclude %}

  <title>Dashboard</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">  

{% endblock headerinclude %}

{% block footerinclude %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
{% endblock footerinclude %}


{% block content %}

<!-- NAV BAR -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Metro Events</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
      </ul>
    </div>
  </nav>

<br><br>

<div class="container">

  <form method = "POST">
    {% csrf_token %}
      <input type="text" class="form-control-plaintext" name="reqAdm_type" value="become_organizer" hidden>
      <input type="text" class="form-control-plaintext" name="reqAdm_status" value="pending" hidden>
      <input type="text" class="form-control-plaintext" name="reqAdm_description" value="I want to become an organizer" hidden>
      <button type="submit" name="reqAdminBtn" class="btn" style="background-color: #000000; color: white">Be an organizer</button>
  </form>


<!-- EVENT CARDS -->
  
<!-- ############################################################################################################# -->

<!-- UPCOMING EVENTS -->
<br>
<div class="card">
  <h5 class="card-header">Upcoming events</h5>
</div>
<br>

<div class="row row-cols-1 row-cols-md-2 g-4">

  {% for eventfgt in filterdate_gt %}
  <div class="col">
    <div class="card">
      <div class="card-body">
        
        <!-- EVENT TITLE -->
        <h5 class="card-title" name="event-name">{{eventfgt.title}}</h5>
        
        <!-- EVENT DESCRIPTION-->
        <p class="card-text">{{eventfgt.date}} | {{eventfgt.time}}</p>

        <!-- VIEW EVENT BUTTON -->
        <button type="button" class="btn btn-outline-primary" name="event-view-btn" data-toggle="modal" data-target="#newModal-{{eventfgt.event_id}}">View Details</button>

        <!-- VIEW EVENT MODAL -->   
        <div class="modal fade" id="newModal-{{eventfgt.event_id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            
              <!--MDDAL HEADER-->
                <div class="modal-content">
                  <div class="modal-header" style="background-color: #000000">
                    <h4 style="font-family: Helvetica; color: white; padding-bottom: 0px">
                      <b>{{eventfgt.title}}</b></h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              
              <!-- MODAL BODY-->
                <div class="modal-body">
                  <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">{{eventfgt.title}}</h1>
                      <p class="lead">{{eventfgt.date}} | {{eventfgt.time}}</p>
                      <hr class="my-4">
                      <p>
                        <b>Description: </b>{{eventfgt.details}}
                        <br>
                        <b>RSPVd: </b>{{eventfgt.num_of_participants}}
                        <br>
                      </p>
                      
                      <!-- REQUEST TO JOIN EVENT-->
                      <hr class="my-4">
                      <br>
                      <b>Want to join the event? Send your request to the organizer now!</b>
                      <br><br>
                      <form method = "POST">
                        {% csrf_token %}
                        <div class="form-group col">
                            <input type="text" class="form-control-plaintext" name="req_type" value="join_event" hidden>
                            <input type="text" class="form-control-plaintext" name="req_event_id" value={{eventfgt.event_id}} hidden>
                            <input type="text" class="form-control-plaintext" name="req_status" value="pending" hidden>
                            

                        </div>

                        <div class="form-group">
                          <textarea class="form-control" id="descTextArea" rows="5" name="req_description" 
                              placeholder="Enter your message here... (max 255 words)" maxlength="255"></textarea>
                        </div>
                    </div>
                  </div>
                </div>

              <!--MODAL FOOTER-->
                <div class="modal-footer">
                  <button type="submit" name="reqJoinBtn" class="btn" style="background-color: #000000; color: white">Send Request</button>
                  <button type="button" class="btn" data-dismiss="modal" style="background-color: #e7e4e4; color: rgb(0, 0, 0)">Close</button>
                      
                    </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}

</div>
<!-- ############################################################################################################# -->

    <!-- EVENTS MISSED -->
    <br>
    <div class="card">
      <h5 class="card-header">Events missed</h5>
    </div>
    <br>

    <div class="row row-cols-1 row-cols-md-2 g-4">

      {% for eventflt in filterdate_lt %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            
            <!-- EVENT TITLE -->
            <h5 class="card-title" name="event-name">{{eventflt.title}}</h5>
            
            <!-- EVENT DESCRIPTION-->
            <p class="card-text">{{eventflt.date}} | {{eventflt.time}}</p>

            <!-- VIEW EVENT BUTTON -->
            <button type="button" class="btn btn-outline-primary" name="event-view-btn" data-toggle="modal" data-target="#newModal-{{eventflt.event_id}}">View Details</button>

            <!-- VIEW EVENT MODAL -->   
            <div class="modal fade" id="newModal-{{eventflt.event_id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                
                  <!--MDDAL HEADER-->
                    <div class="modal-content">
                      <div class="modal-header" style="background-color: #000000">
                        <h4 style="font-family: Helvetica; color: white; padding-bottom: 0px">
                          <b>{{eventflt.title}}</b></h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  
                  <!-- MODAL BODY-->
                    <div class="modal-body">
                      <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <h1 class="display-4">{{eventflt.title}}</h1>
                          <p class="lead">{{eventflt.date}} | {{eventflt.time}}</p>
                          <hr class="my-4">
                          <p>
                            <b>Description: </b>{{eventflt.details}}
                            <br>
                            <b>RSPVd: </b>{{eventflt.num_of_participants}}
                            <br>
                            <b>Type: </b>{{eventflt.type}}
                          
                          </p>   
                        </div>
                      </div>
                    </div>

                  <!--MODAL FOOTER-->
                    <div class="modal-footer">
                      <button type="button" class="btn" data-dismiss="modal" style="background-color: #e7e4e4; color: rgb(0, 0, 0)">Close</button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}

    </div>

<!-- ############################################################################################################# -->

    <!-- EVENTS CANCELLED-->
    <br>
    <div class="card">
      <h5 class="card-header">Cancelled Events</h5>
    </div>
    <br>

    <div class="row row-cols-1 row-cols-md-2 g-4">

      {% for cancelledEvent in cancelledevents %}
      
      <div class="col">
        <div class="card">
          <div class="card-body">
            
            <!-- EVENT TITLE -->
            <h5 class="card-title" name="event-name">{{cancelledEvent.title}}</h5>
            
            <!-- EVENT DESCRIPTION-->
            <p class="card-text">{{cancelledEvent.date}} | {{cancelledEvent.time}}</p>

            <!-- VIEW EVENT BUTTON -->
            <button type="button" class="btn btn-outline-primary" name="event-view-btn" data-toggle="modal" data-target="#newModal-{{cancelledEvent.event_id}}">View Details</button>

            <!-- VIEW EVENT MODAL -->   
            <div class="modal fade" id="newModal-{{cancelledEvent.event_id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                
                  <!--MDDAL HEADER-->
                    <div class="modal-content">
                      <div class="modal-header" style="background-color: #000000">
                        <h4 style="font-family: Helvetica; color: white; padding-bottom: 0px">
                          <b>{{cancelledEvent.title}}</b></h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  
                  <!-- MODAL BODY-->
                    <div class="modal-body">
                      <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                          <h1 class="display-4">{{cancelledEvent.title}}</h1>
                          <p class="lead">{{cancelledEvent.date}} | {{cancelledEvent.time}}</p>
                          <hr class="my-4">
                          <p>
                            <b>Description: </b>{{cancelledEvent.details}}
                            <br>
                            <b>RSPVd: </b>{{cancelledEvent.num_of_participants}}
                            <br>
                            <b>Type: </b>{{cancelledEvent.type}}
                          
                          </p>
                            <!-- {% for get in organizer %}
                            {{get.first_name}}
                            {{get.last_name}}
                            {% endfor %} -->
                            
                        </div>
                      </div>
                    </div>

                  <!--MODAL FOOTER-->
                    <div class="modal-footer">
                      <!-- <button type="submit" id="updateBtn" name="updateBtn" class="btn" style="background-color: #000000; color: white" disabled>Request to join</button> -->

                      <button type="button" class="btn" data-dismiss="modal" style="background-color: #e7e4e4; color: rgb(0, 0, 0)">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      {% endfor %}

    </div>
    <br>
    <br>

    <!-- ############################################################################################################# -->

</div>

  {% endblock content %}


  <!--
        <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
    </form>
  -->



 